* {
  margin: 0;
  padding: 0;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;
}

.counter {
  position: absolute;
  text-align: center;
  background: #f16d7f;
  color: white;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  right: 27px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart-counter {
  position: relative;
}

.header__logo {
  margin-right: 41px;
}

.header__user,
.header__cart {
  display: none;
}

.header__user {
  margin-left: 25px;
  margin-right: 42px;
}

.brand {
  min-height: 363px;
  background: #f1e4e6;
  margin-bottom: 64px;
}

.brand__img {
  display: block;
}

.brand__left {
  display: none;
}

.brand__right {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand__text {
  border-left: 12px solid #f16d7f;
  height: 61px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.brand__text div:first-child {
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
  font-family: 'Lato', sans-serif;
}

.brand__text div:last-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.text__pink {
  color: #f16d7f;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
}

.card__for-women,
.card__for-men,
.card__for-kids,
.card__accesories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card__text {
  position: absolute;
}

.img__accesories,
.for-women,
.for-men,
.for-kids {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.for-women {
  height: 247px;
}

.for-men {
  height: 249px;
}

.for-kids {
  height: 248px;
}

.img__accesories {
  height: 111px;
}

.card__text-top {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.card__text-bottom {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}
.fetured__items {
  padding-left: 8px;
  padding-right: 8px;
}
.fetured__header {
  margin-bottom: 3px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured__text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 64px;
}

.fetured__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
}

.feturedCard {
  background: #F8F8F8;
}

.feturedCard img {
  width: 100%;
}

.feturedCard__header {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 25px 18px 12px;
}

.feturedCard__text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.feturedCard__price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 18px;
  padding-bottom: 20px;
}

.fetured__btn {
  border: 1px solid #FF6A6A;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 13px 38px;
  margin-bottom: 96px;
  margin-top: 41px;
  background: #FFFFFF;
}

.fetured__btn:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery {
  background: #222224;
}

.delivery__wrap {
  display: grid;
  grid-row-gap: 47px;
}

.delivery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-header,
.delivery-text {
  font-family: 'Lato', sans-serif;
  color: #FBFBFB;
  text-align: center;
}

.delivery-header {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 27px;
  padding-bottom: 15px;
}

.delivery-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  max-width: 348px;
}

.delivery__wrap {
  padding: 48px 13px 81px;
}

.subscribe {
  background: url("img/subscribe.jpg") no-repeat;
  background-size: cover;
  padding-top: 54px;
  padding-bottom: 110px;
}

.subscribe__description,
.subscribe__input
{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.subscribe-text {
  padding: 25px 7px 59px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #222224;
  max-width: 360px;
}

.subscribe-header {
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__newsletter-text {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  padding-bottom: 22px;
  text-align: center;
}

.subscribe__input-form {
  background: #E1E1E1;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  float: left;
  border: none;
  height: 47px;
}

.subscribe-btn {
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  height: 47px;
}

footer {
  background: #222224;
}

.footer__blocks {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer__left {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-bottom: 9px;
}

.footer__right {
  padding-top: 43px;
  padding-bottom: 40px;
}

.footer__img {
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
  margin-right: 7px;
}

.footer__img:hover {
  background: #F16D7F;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 32px;
  }

  .header__user {
    display: inline;
  }

  .header__cart {
    display: inline;
    margin-right: 41px;
  }

  .brand {
    display: flex;
  }

  .brand__left {
    display: inline;
  }

  .brand__left,
  .brand__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
  }

  .card__accesories {
    grid-column: 1/-1;
  }

  .counter {
    display: inline;
  }

  .fetured__items {
    padding-left: 16px;
    padding-right: 16px;
  }

  .fetured__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 18px;
    grid-column-gap: 16px;
  }

  .fetured__btn {
    margin-top: 33px;
    margin-bottom: 65px;
  }

  .delivery-text {
    max-width: 360px;
  }

  .delivery__wrap {
    padding-bottom: 64px;
  }

  .footer__blocks {
    flex-direction: initial;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 34px;
  }

  .footer__right {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

  @media (min-width: 1600px) {
    .container {
      width: 1140px;
      margin: 0 auto;
    }

    .brand {
      min-height: 764px;
    }

    .brand__text div:first-child {
      font-weight: 900;
      font-size: 48px;
      line-height: 57px;
      font-family: 'Lato', sans-serif;
    }

    .brand__text div:last-child {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      font-family: 'Lato', sans-serif;
    }

    .brand__text {
      height: 92px;
    }

    .cards {
      grid-template-rows: 260px 180px;
    }

    .fetured__items {
      width: 1140px;
      margin: 0 auto;
    }

    .fetured__cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .fetured__btn {
      margin-top: 49px;
      margin-bottom: 95px;
    }

    .delivery__wrap {
      display: grid;
      grid-row-gap: 47px;
      grid-template-columns: repeat(3, 1fr);
      width: 1140px;
      margin: 0 auto;
      min-height: 341px;
      align-items: center;
    }

    .subscribe-text {
      padding-bottom: 0;
    }

    .subscribe__blocks {
      width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer__blocks {
      width: 1140px;
      margin: 0 auto;
    }
  }

